body {
  background: lightcyan;
  min-width: 450px;
}
header,
footer {
  padding: 2pt;
  text-align: center;
}
section {
  margin: 1pt;
  padding: 4pt;
  border-radius: 12px;
  border: 2px solid darkgray;
}
div {
  padding: 4pt;
}
.formStyle {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
#forecastData {
  text-align: center;
}
